.about{
    position: relative;
    font-size: 1.2rem;
    margin-top: 1rem;
    .left{
        .leftcont{
            .about-header{
                .image{
                    width: 100%;
                    img{
                        padding: auto;
                        width: 100%;
                       // background-color: black;
                        object-fit: cover;
                        mask-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0,0));
                    }
                }
                .bannerlogo{
                    height: 100%;
                }
            }
        }
    }
    .sec{
        margin: 7rem auto;
        ul{
            list-style: square;
        }
        // p{
        //     font-family: cursive;
        // }
    }
    .department{
        overflow: hidden !important;
        .department-sect{
            .slider-container{
                li{
                    border-radius: 20px;
                    .card{
                        position: relative;
                        border-radius: 20px;

                        img{
                            border-radius: 20px;
                        }
                        .card-body{
                            position: absolute;
                            bottom: 0;
                            background-color: rgb(225,225,225,.8);
                            width: fit-content;
                            color: black;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px){
    .about{
        .right{
            .sec{
                .secont{
                    .textbody{
                       // height: 400px !important;
                    }
                    .textcont{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}