.home{
    position: relative;
    .homecont{
        .imagebanner{
           // position: relative;
            .carousel{
                font-size: 1.2rem;
                .carousel-item{
                    height: 600px;
                    .img{
                        height: 100%;
                        width: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .textbody{
                        position: absolute;
                        top:0;
                        width: 100%;
                        height: 100%;
                        background-color:rgba(39, 0, 93,.8);
                        color: white;
                        padding: 2rem;
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        .text{
                            margin: auto;
                            width: 80%;
                            h2{
                                b{
                                    font-size: 2rem ;
                                }
                            }
                        }
                        .join{
                            background:linear-gradient(to right,#fc6601,rgb(39,0,93));
                            margin-right: .5rem;
                            width: 150px;
                            border-radius: 10px;
                            text-align: center;
                            padding: .4rem 0rem;
                            cursor: pointer;
                            transition: all .4s ;
                            &:hover{
                                background: white;
                                color:#362c5f;
                                border: none !important;
                                border: 1px solid #fc6601;
                            }
                        }
                        .partner{
                            width: 150px;
                            border-radius: 10px;
                            text-align: center;
                            padding: .4rem 0rem;
                            border: 1px solid #fc650a;
                            cursor: pointer;
                            transition: all .4s;
                            &:hover{
                                border: none;
                                background:linear-gradient(to right,#fc6601,rgb(39,0,93));
                            }
                        }
                    }
                }
            }
        }
        br{
            display: none;
        }
        .sec2{
            margin-top: 14rem;
            border-radius: 20px;
            .sec2cont{
                border-radius: 20px;
                display: flex;
                align-items: center;
                .left{
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    border-radius: 20px;
                    .img{
                        width: 100%;
                        background-color: rgba(39, 0, 93);
                        height:100%;
                        border-radius: 20px;
                        img{
                            width: 100%;
                            height: 500px;
                            //filter: grayscale(100%);
                            object-fit: cover;
                            border-radius: 20px;
                        }
                    }                
                }
                .right{
                    height: 500px;
                    padding: .7rem;
                    font-family: Play;
                    color: black;
                    border-radius: 20px;
                    .countdown{
                        width: 100%;
                        height: 100%;
                        margin: auto;
                        .countdown-sect{
                            .timer{
                                display: flex;
                                justify-content: center;
                                align-items: baseline;
                                grid-gap: .7rem;
                                padding: 1rem;
                                border-radius: 10px;
                                margin: 1rem auto;
                                background:radial-gradient(gray, black);
                                color: white;
                                width: fit-content;
                                section p:first-child, span{
                                    font-size: 2em;
                                }
                            }
                        }
                    }
                    .sec2text{
                        height: 100%;
                        padding: auto;
                    }
                    .register{
                        //background:linear-gradient(to right,#fc6601,rgb(39,0,93));
                        margin-right: .5rem;
                        border-radius: 10px;
                       // margin-left: 16rem;
                       // text-align: center;
                        //padding: .4rem 0rem;
                        transition: all .4s ease-in;
                        border: none;
                        //background-clip: text;
                        cursor: pointer;
                        color: #fc650a;
                        a{
                            text-decoration: underline;
                            background-color: transparent;
                            border: 0;
                            width: 150px;
                        }
                        &:hover{
                            button{
                                color: black;
                                border: none;
                            }
                        }
                    }
                }
        }
        }
        .sec3{
            margin-top: 7rem;
            //padding: 1rem;
            position: relative;
            height: 100%;
            .sec3cont{
                padding: 0;
                margin: 0;
                .left{
                    padding: 1rem;
                    background-color: white;
                    //border: 1px solid rgb(39, 0, 93);
                    width: 100% ;
                    border-radius: 20px;
                    h2{
                        background:linear-gradient(to left,#fc6601,rgb(39,0,93));
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        //color: #362c5f;
                        text-align: center;
                    }
                    .vision{
                        width: 60%;
                    }
                    .location{
                        width: 60%;
                    }
                    .learnmore{
                        background: linear-gradient(to right,#fc6601,rgb(39,0,93));;
                        border: none;
                        padding: .5rem 1rem;
                        border-radius: 10px;
                        margin-left: 38%;
                        transition: all .4s ease-in;
                        &:hover{
                            background-color: white;
                            border: none;
                            b{
                                color: black;
                            }
                        }
                        b{
                            color: white;
                        }
                    }
                    // h4{
                    //     b{
                    //         color: #362c5f;
                    //     }
                    // }
                }
                .right{
                    position: absolute;
                    top: 25%;
                    right: -14%;
                    padding: 0;
                    margin: 0;
                    width: 50%;
                    height: 100%;
                    .img{
                        height: 100%;
                        width: 75%;
                        position: relative;
                        video{
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                            object-fit: cover;
                        }
                    }
                    .leftcont{
                        position:absolute;
                        top: 0%;
                        width: 100%;
                        height: 100%;
                        padding: 2rem;
                        background:radial-gradient(rgba(252, 102, 1,.6),rgb(39,0,93,.9));
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        color: white;
                        text-align: center;
                        justify-content: center;
                        border-radius: 30px;
                        grid-gap: .5rem;
                        font-size: 1.5rem !important;
                        .col{
                            background-color: rgb(255, 255, 255,.8);
                            text-align: center;
                            border-radius: 20px;
                            display: flex;
                            color: rgb(39, 0, 93);
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                    // .textbody{
                    //     position: absolute;
                    //     border-radius: 20px;
                    //     top: 0;
                    //     background-color: rgba(39, 0, 93,.5);
                    //     width: 75%;
                    //     height: 100%;
                    //     display: grid;
                    //     align-items: center;
                    //     padding: 1.5rem;
                    //     color: white;
                    //     b{
                    //         color: #fc6601;
                    //     }
                    //     .come{
                    //         animation: colorChange 2s linear 0s infinite normal;
                    //     }
                    // }
                }
            }
        }

        .testimonies{
            margin-top: 7rem;
            .text-light{
                //background: radial-gradient(rgba(252, 102, 1,.6),rgb(39,0,93,.9));
                background-color: white;
                border-radius: 20px;
                color: black !important;
                border: 1px solid gray;
            }
            .testimonial-head{
                display: flex;
                align-items: end;
                h3{
                    color: lighten($color: rgb(39,0,93), $amount: 0);
                }
                .img{
                    width: 100px;
                    height: 100px;
                    margin-right: .5rem;
                    border-radius: 30px;
                    //border: 1px solid lighten($color: rgb(39,0,93), $amount: 60);
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 30px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .events{
        .slider-container{
            li{
                .card{
                    position: relative;
                    img{
                        border-radius: 20px;
                    }
                    .card-body{
                        position: absolute;
                        bottom: 0;
                        background-color: rgb(255, 255, 255,.8);
                        width: 100%;
                        a{
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

}
.leftloader{
    animation: leftloader 1s ease;
    transition: all 1s ease-in;
}
.rightloader{
    animation: rightloader 1s ease;
    transition: all 1s ease-in;
}

.fading{
    animation: fading 1s ease;
    transition: all 3s ease-in;
}


@media (max-width:700px){
    .home{
        .imagebanner{
            padding: initial ;
            h2{
                text-align: left !important;
            }
            .textbody{
                padding: .4rem!important;
                .text{
                    width: 100% !important;
                    h2{
                        b{
                            font-size: 1.5rem !important;
                        }
                    }
                }
                .join{
                    width: 100px !important;
                }
                .partner{
                    width: 100px !important;
                }
            }
        }

        br{
            display: grid !important;
        }

        .sec3{
            margin-bottom: 20rem !important;
            .sec3cont{
                .right{
                    width: 100% !important;
                    top: 92% !important;
                    right: 0% !important;
                    z-index: -1;
                    height: 100% !important;
                    margin-top: .5rem !important;
                    .img{
                        width: 100% !important;
                        height: 100% !important;
                        video{
                            height: 100% !important;
                        }
                    }
                    .textbody{
                        width: 100% !important;
                        height: 100% !important ;
                    }
                }
                .left{
                    width: 500px !important;
                    .vision{
                        width: 100% !important;
                    }
                    .location{
                        width: 100% !important;
                    }
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
        .sec2{
            .right{
                height: 100% !important;
            }
        }
        .sec5{
            .left{
                width: 100% !important;
                height: 300px;
                .video{
                    width: 100% !important;
                    height: 300px !important;
                    video{
                        width: 100% !important; 
                        height: 100% !important;
                    }
                }
                .leftcont{
                    width: 100% !important;
                    left: 0 !important;
                    margin: auto;
                }
            }
            // .right{
            //    position: relative !important;
            //    margin-top: 7rem  !important;
            //    left: 0 !important;
            //    top: 300px !important;
            //    .learnmore{
            //     margin-left: 15rem !important ;
            //    }
            // }
        }
    }
}

@media (max-width:600px){
    .home{
        //font-size: 1.1rem !important;
        .imagebanner{
            //text-align: center;
            h2{
                text-align: left !important;
            }
            .textbody{
                padding: .4rem!important;
                //font-size: 1rem;
                .text{
                    width: 100% !important;
                    h2{
                        b{
                            font-size: 1.5rem !important;
                        }
                    }
                }
                .join{
                    width: 100px !important;
                }
                .partner{
                    width: 100px !important;
                }
            }
        }
        .sec2{
            margin-top: 5rem !important;
            .left{
                .img{
                    height: 400px !important;
                img{
                    height: 100% !important;
                }
                }
            }
            .right{
                height: 100% !important;
                // .register{
                //     margin-left: 5rem !important;
                // }
            }
        }
        .sec3{
            margin-top: 7rem !important;
            .sec3cont{
                .right{
                    top: 95% !important;
                    z-index: -1;
                    right: normal !important;
                    .textbody{
                        width: 100% !important;
                    }
                    .img{
                        height: 60% !important;
                    }
                }
                .left{
                    .learnmore{
                        margin-left: 26% !important;
                    }
                }
            }
        }
        .sec4{
            margin-top: 7rem !important;
        }
        .sec5{
// //          margin-top: 7rem !important;
//             height: auto;
//             .left{
//                 height: 300px !important;
//                 .leftcont{
//                     left: 17px !important;
//                     .video{
//                         height: 300px;
//                         video{
//                             height: 100% !important;
//                         }
//                     }
//                 }
//             }
            .right{
               //margin-top: 7rem;
               .learnmore{
                margin-left: 5rem !important ;
               }
            }
        }
        .sec6{
            .sec6cont{
                .txtcont{
                    width: 100% !important;
                    //text-align: center;
                    padding: .5rem;
                    // h3{
                    //     text-align: center !important;
                    // }
                }
            }
        }
    }
}

@keyframes colorChange {
    0%{
        color: white;
    }
    50%{
        color: #fc6601
    }
    100%{
        color: orangered;
    }
}

@keyframes leftloader {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes rightloader {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes fading {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}