.sec6{
    position: relative;
    margin: 6rem auto;
    width: 100%;
    background-color: rgba(39, 0, 93,.7);
    border-radius: 20px;
    //mask-image: linear-gradient(rgb(39, 0, 93),rgba(0, 0, 0,.6));
    .img{
        width: 100%;
        left: 0;
        mix-blend-mode: overlay;
        border-radius: 20px;
        img{
            width: 100%;
            height: 500px;
            object-fit: fill;
        }
    }
    .sec6cont{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        .textbody{
            text-align: left !important;
            color: white !important;
            background-color: rgba(39, 0, 93,.8);
            width: 100%;
            height: 100%;
            display: grid;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            padding: .5rem;
            .txtcont{
              width: 80%;
              h3{
                  text-align: left ;
              }
              .join-us{
                  color: #fc6601;
                  font-size: 1.1rem;
              }
              .sub-heading{
                font-size: 1.6rem;
              }
              .joinusbtn{
                background:linear-gradient(to right,#fc6601,rgb(39,0,93));
                padding: .2rem .5rem;
                height: fit-content;
                width: fit-content;
                border: none;
                border-radius: 10px;
                transition: all .4s ;
                &:hover{
                    background-color: white;
                    border: 1px solid #fc6601;
                    b{
                        color: black;
                    }
                }
                b{
                    color: white;
                    font-size: 1.3rem;
                }
              }
            }
        }
    }
    
}

@media (max-width: 700px){
    .sec6{
        .sec6cont{
            .textbody{
                .txtcont{
                    width: 100% !important;
                    padding: 2rem;
                }
            }
        }
    }
}