.sermon-sec1{
    margin-top: 7rem;
    .carousel{
        display: flex;
        flex-wrap: wrap ;
        grid-gap: .6rem;
        //justify-content: center;
        //align-items: center;
        a{
            text-decoration: none;
        }
        .left{
            width: 45%;
            p{
                font-family: Play;
                font-size: 1.2rem;
            }
        }
        .right{
            width: 50%;
            background-color: #fc650a;
            height: 40%;
            .rightcont{
                top: 50px;
                background-color: transparent;
                li{
                    .card-body{
                        display: flex;
                        grid-gap: .3rem;
                        flex-wrap: wrap;
                    }
                    .icon{
                        padding: 1rem;
                        border: 1px solid gray;
                        clip-path: circle(50% at 50% 50%);
                        //border-radius: 100%;
                        width: fit-content;
                        .i{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:700px){
    .sermon-sec1{
        .carousel{
            //flex-direction: column-reverse;
            .left{
                width: 100% !important;
            }
            .right{
                width: 100% !important;
            }
        }
    }
}