.home {
  position: relative;
}
.home .homecont {
  position: absolute;
  top: 0;
  width: 100%;
}
.home .homecont .imagebanner .carousel {
  font-size: 1.2rem;
}
.home .homecont .imagebanner .carousel .carousel-item {
  height: 600px;
}
.home .homecont .imagebanner .carousel .carousel-item .img {
  height: 100%;
  width: 100%;
}
.home .homecont .imagebanner .carousel .carousel-item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 7, 87, 0.6);
  color: white;
  display: grid;
  align-items: center;
  padding: 2rem;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .text {
  margin-top: auto;
  width: 700px;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .text h2 b {
  font-size: 2rem;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .join {
  background-color: orangered;
  margin-right: 0.5rem;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 0.4rem 0rem;
  cursor: pointer;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .join:hover {
  background-color: white;
  color: black;
  border: 1px solid orangered;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .partner {
  width: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 0.4rem 0rem;
  border: 1px solid white;
  cursor: pointer;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .partner:hover {
  background-color: orangered;
}
.home .homecont .sec2 {
  margin-top: 9rem;
}
.home .homecont .sec2 .sec2cont {
  display: flex;
  align-items: center;
}
.home .homecont .sec2 .sec2cont .left {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
.home .homecont .sec2 .sec2cont .left .img {
  width: 100%;
  height: 100%;
}
.home .homecont .sec2 .sec2cont .left .img img {
  width: 100%;
  height: 400px;
  -o-object-fit: fill;
     object-fit: fill;
}
.home .homecont .sec2 .sec2cont .left .countdown {
  position: absolute;
  top: 0;
  background-color: rgba(107, 7, 87, 0.3);
  width: 100%;
  height: 100%;
  padding-top: 2em;
}
.home .homecont .sec2 .sec2cont .left .countdown h3 {
  color: white;
}
.home .homecont .sec2 .sec2cont .left .countdown .countdown-sect {
  margin-top: 4rem;
}
.home .homecont .sec2 .sec2cont .left .countdown .countdown-sect .timer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-gap: 0.7rem;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem auto;
  background-color: rgba(107, 7, 87, 0.5);
  color: white;
  border: 1px solid white;
  width: -moz-fit-content;
  width: fit-content;
}
.home .homecont .sec2 .sec2cont .left .countdown .countdown-sect .timer section p:first-child, .home .homecont .sec2 .sec2cont .left .countdown .countdown-sect .timer span {
  font-size: 2em;
}
.home .homecont .sec2 .sec2cont .right {
  height: 400px;
  padding: 0.7rem;
  font-family: Roboto;
  background-color: rgba(107, 7, 87, 0.1);
}
.home .homecont .sec2 .sec2cont .right .sec2text {
  height: 100%;
  padding: auto;
}
.home .homecont .sec2 .sec2cont .right h3 {
  color: #362c5f;
}
.home .homecont .sec2 .sec2cont .right .register {
  background-color: orangered;
  margin-right: 0.5rem;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 0.4rem 0rem;
  margin-left: 15rem;
  color: white;
  cursor: pointer;
}
.home .homecont .sec2 .sec2cont .right .register:hover {
  background-color: transparent;
  border: 1px solid orangered;
  color: black;
}
.home .homecont .sec3 {
  margin-top: 9rem;
}
.home .homecont .sec3 .sec3cont {
  padding: 0;
  margin: 0;
}
.home .homecont .sec3 .sec3cont .left {
  background-color: rgba(107, 7, 87, 0.1);
  padding: 1rem;
}
.home .homecont .sec3 .sec3cont .left h2 {
  color: #362c5f;
  text-align: center;
}
.home .homecont .sec3 .sec3cont .left h4 b {
  color: rgb(107, 7, 87);
}
.home .homecont .sec3 .sec3cont .right {
  position: relative;
  padding: 0;
  margin: 0;
}
.home .homecont .sec3 .sec3cont .right .img img {
  width: 100%;
}
.home .homecont .sec3 .sec3cont .right .textbody {
  position: absolute;
  top: 0;
  background-color: rgba(107, 7, 87, 0.6);
  width: 100%;
  height: 100%;
}
.home .homecont .sec4 {
  margin-top: 9rem;
  text-align: center;
}
.home .homecont .sec4 .sec4cont {
  grid-gap: 1rem;
}
.home .homecont .sec4 .sec4cont .subsec {
  padding: 0.5rem;
  background-color: white;
  height: 300px;
}
.home .homecont .sec4 .sec4cont .subsec .subsecont {
  border: 1px solid rgba(255, 69, 0, 0.7);
  padding: 0.5rem;
  height: 100%;
}
.home .homecont .sec4 .sec4cont .subsec .subsecont :nth-child(4) {
  background-color: orangered;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}
.home .homecont .sec4 .sec4cont .subsec .subsecont :nth-child(4):hover {
  background-color: transparent;
  color: black;
  border: 1px solid orangered;
}
.home .homecont .sec4 .sec4cont .subsec .subsecont .iconcont {
  background-color: orangered;
  margin: auto;
  padding: 0.5rem;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.4rem;
  box-shadow: 0px 5px 5px black;
}
.home .homecont .sec4 .sec4cont .subsec .subsecont .iconcont .icon {
  font-size: 1.5rem;
  color: white;
}
.home .homecont .sec5 {
  margin-top: 9rem;
  padding: 0;
}
.home .homecont .sec5 .left {
  position: relative;
}
.home .homecont .sec5 .left .video {
  width: 100%;
}
.home .homecont .sec5 .left .video video {
  width: 100%;
  height: 400px;
  -o-object-fit: fill;
     object-fit: fill;
}
.home .homecont .sec5 .left .leftcont {
  position: absolute;
  bottom: -100px;
  width: 90%;
  margin: auto;
  left: 35px;
  background-color: rgba(255, 69, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 30px;
}
.home .homecont .sec5 .left .leftcont div:first-child {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.home .homecont .sec5 .left .leftcont div:last-child {
  border-left: 1px solid white;
  border-top: 1px solid white;
}
.home .homecont .sec5 .right {
  background-color: rgba(107, 7, 87, 0.1);
  padding: 0.5rem 1rem;
}
.home .homecont .sec5 .right h2 {
  text-align: center;
  color: #362c5f;
}
.home .homecont .sec5 .right .vision {
  color: #362c5f;
}
.home .homecont .sec5 .right .learnmore {
  background-color: orangered;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-left: 15rem;
}
.home .homecont .sec5 .right .learnmore:hover {
  background-color: white;
  border: 1px solid orangered;
}
.home .homecont .sec5 .right .learnmore:hover b {
  color: black;
}
.home .homecont .sec5 .right .learnmore b {
  color: white;
}
.home .homecont .sec6 {
  position: relative;
  margin-top: 9rem;
  width: 100%;
  background-color: #362c5f;
}
.home .homecont .sec6 .img {
  position: static;
  top: o;
  width: 100%;
  left: 0;
  mix-blend-mode: overlay;
}
.home .homecont .sec6 .img img {
  width: 100%;
  height: 500px;
  -o-object-fit: fill;
     object-fit: fill;
}
.home .homecont .sec6 .sec6cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .homecont .sec6 .sec6cont .textbody {
  text-align: left !important;
  color: white !important;
  background-color: rgba(107, 7, 87, 0.5);
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont {
  width: 600px;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont h3 {
  text-align: left;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont .join-us {
  color: orangered;
  font-size: 1.1rem;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont .sub-heading {
  font-size: 1.6rem;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont .joinusbtn {
  background-color: orangered;
  padding: 0.2rem 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 20px;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont .joinusbtn:hover {
  background-color: white;
  border: 1px solid orangered;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont .joinusbtn:hover b {
  color: black;
}
.home .homecont .sec6 .sec6cont .textbody .txtcont .joinusbtn b {
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  .home {
    font-size: 1rem !important;
  }
  .home .imagebanner h2 {
    text-align: left !important;
  }
  .home .imagebanner .textbody {
    padding: 0.4rem !important;
  }
  .home .imagebanner .textbody .text {
    width: 100% !important;
  }
  .home .imagebanner .textbody .text h2 b {
    font-size: 1.5rem !important;
  }
  .home .imagebanner .textbody .join {
    margin-left: 2.2rem;
    width: 100px !important;
  }
  .home .imagebanner .textbody .partner {
    width: 100px !important;
  }
  .home .sec2 {
    margin-top: 5rem !important;
  }
  .home .sec2 .right {
    height: 100% !important;
  }
  .home .sec2 .right .register {
    margin-left: 5rem !important;
  }
  .home .sec5 .left .leftcont {
    left: 17px !important;
  }
  .home .sec5 .right {
    margin-top: 7rem;
  }
  .home .sec5 .right .learnmore {
    margin-left: 7rem !important;
  }
  .home .sec6 .sec6cont .txtcont {
    width: 100% !important;
    padding: 0.5rem;
  }
}
* {
  margin: 0;
  font-family: play;
}

body {
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
  background-color: rgba(107, 7, 87, 0.1);
}
body::-webkit-scrollbar {
  width: 0 !important;
}

html {
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: baseline;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header .left {
  flex: 1;
}
.header .left img {
  width: 150px;
  height: 100px;
  -o-object-fit: fill;
     object-fit: fill;
}
.header .overlayheader {
  flex: 2;
}
.header .overlayheader .right {
  width: 100%;
}
.header .overlayheader .right ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #7697fe;
}
.header .overlayheader .right ul li {
  transition: all 200ms ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header .overlayheader .right ul li:hover {
  background-color: white;
  color: orangered !important;
  padding: 0rem 0.4rem;
  border-radius: 0.3rem;
  box-sizing: border-box !important;
}
.header .overlayheader .right ul li:hover a {
  color: orangered;
}
.header .overlayheader .right ul li .icon {
  color: orangered;
  display: none;
}
.header .overlayheader .right ul li a {
  text-decoration: none;
  color: white;
}
.header .overlayheader .right ul .partner {
  background-color: orangered !important;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  padding: 0.4rem;
  font-weight: 600;
}
.header .overlayheader .right ul .partner:hover {
  background-color: white !important;
}
.header .overlayheader .right ul .partner .icon {
  color: white;
}
.header .overlayheader .right .existmenu {
  display: none;
}
.header .hamburger {
  display: none;
}

.footer {
  background-color: rgba(107, 7, 87, 0.7);
  color: #7697fe;
  display: grid;
  justify-content: center;
}
.footer .footercont {
  width: 100%;
  padding: 2rem;
}
.footer .footercont .subscribe {
  width: 100%;
  display: grid;
  text-align: center;
}
.footer .footercont .subscribe .row {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  margin: auto;
  justify-content: center;
}
.footer .footercont .subscribe .row .input {
  width: 25rem !important;
  border-radius: 5px;
}
.footer .footercont .subscribe .row button {
  width: 100px;
  margin: auto;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}
.footer .footercont .subscribe .row button:hover {
  background-color: white;
  color: #011d74;
  border: 1px solid goldenrod;
}
.footer .footercont .socialmedia {
  display: grid;
  justify-content: center;
}
.footer .footercont .socialmedia .socialcont ul {
  list-style: none;
  display: flex;
  margin-right: auto;
}
.footer .footercont .socialmedia .socialcont ul li {
  margin-left: 0.5rem;
}

@media (max-width: 700px) {
  * {
    font-size: 1rem;
  }
  .header .overlayheader {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(107, 7, 87, 0.3);
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
    transition: all 1s ease 0s;
  }
  .header .overlayheader .right {
    background-color: rgb(107, 7, 87);
    width: 70%;
    margin-left: auto;
    height: 100vh;
    position: relative;
    display: grid;
    justify-content: space-around;
    align-items: center;
  }
  .header .overlayheader .right ul {
    display: grid !important;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    height: 100vh;
    color: orangeredred !important;
  }
  .header .overlayheader .right ul li .icon {
    display: flex;
  }
  .header .overlayheader .right .existmenu {
    position: absolute;
    top: 0;
    display: flex;
    background-color: inherit;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 25px;
    border: none;
  }
  .header .overlayheader.show {
    transform: translateX(0%);
  }
  .header .hamburger {
    display: block !important;
    background-color: transparent;
    border: none;
    color: #f9abea;
    width: 50px;
  }
  .header .hamburger:hover {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #530544;
    box-sizing: border-box !important;
    color: white;
  }
}/*# sourceMappingURL=index.css.map */