.home {
  position: relative;
}
.home .homecont .imagebanner .carousel {
  font-size: 1.2rem;
}
.home .homecont .imagebanner .carousel .carousel-item {
  height: 600px;
}
.home .homecont .imagebanner .carousel .carousel-item .img {
  height: 100%;
  width: 100%;
}
.home .homecont .imagebanner .carousel .carousel-item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 0, 93, 0.8);
  color: white;
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .text {
  margin: auto;
  width: 80%;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .text h2 b {
  font-size: 2rem;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .join {
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
  margin-right: 0.5rem;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 0.4rem 0rem;
  cursor: pointer;
  transition: all 0.4s;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .join:hover {
  background: white;
  color: #362c5f;
  border: none !important;
  border: 1px solid #fc6601;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .partner {
  width: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 0.4rem 0rem;
  border: 1px solid #fc650a;
  cursor: pointer;
  transition: all 0.4s;
}
.home .homecont .imagebanner .carousel .carousel-item .textbody .partner:hover {
  border: none;
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
}
.home .homecont br {
  display: none;
}
.home .homecont .sec2 {
  margin-top: 14rem;
  border-radius: 20px;
}
.home .homecont .sec2 .sec2cont {
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.home .homecont .sec2 .sec2cont .left {
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}
.home .homecont .sec2 .sec2cont .left .img {
  width: 100%;
  background-color: rgb(39, 0, 93);
  height: 100%;
  border-radius: 20px;
}
.home .homecont .sec2 .sec2cont .left .img img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.home .homecont .sec2 .sec2cont .right {
  height: 500px;
  padding: 0.7rem;
  font-family: Play;
  color: black;
  border-radius: 20px;
}
.home .homecont .sec2 .sec2cont .right .countdown {
  width: 100%;
  height: 100%;
  margin: auto;
}
.home .homecont .sec2 .sec2cont .right .countdown .countdown-sect .timer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-gap: 0.7rem;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem auto;
  background: radial-gradient(gray, black);
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
.home .homecont .sec2 .sec2cont .right .countdown .countdown-sect .timer section p:first-child, .home .homecont .sec2 .sec2cont .right .countdown .countdown-sect .timer span {
  font-size: 2em;
}
.home .homecont .sec2 .sec2cont .right .sec2text {
  height: 100%;
  padding: auto;
}
.home .homecont .sec2 .sec2cont .right .register {
  margin-right: 0.5rem;
  border-radius: 10px;
  transition: all 0.4s ease-in;
  border: none;
  cursor: pointer;
  color: #fc650a;
}
.home .homecont .sec2 .sec2cont .right .register a {
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  width: 150px;
}
.home .homecont .sec2 .sec2cont .right .register:hover button {
  color: black;
  border: none;
}
.home .homecont .sec3 {
  margin-top: 7rem;
  position: relative;
  height: 100%;
}
.home .homecont .sec3 .sec3cont {
  padding: 0;
  margin: 0;
}
.home .homecont .sec3 .sec3cont .left {
  padding: 1rem;
  background-color: white;
  width: 100%;
  border-radius: 20px;
}
.home .homecont .sec3 .sec3cont .left h2 {
  background: linear-gradient(to left, #fc6601, rgb(39, 0, 93));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.home .homecont .sec3 .sec3cont .left .vision {
  width: 60%;
}
.home .homecont .sec3 .sec3cont .left .location {
  width: 60%;
}
.home .homecont .sec3 .sec3cont .left .learnmore {
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-left: 38%;
  transition: all 0.4s ease-in;
}
.home .homecont .sec3 .sec3cont .left .learnmore:hover {
  background-color: white;
  border: none;
}
.home .homecont .sec3 .sec3cont .left .learnmore:hover b {
  color: black;
}
.home .homecont .sec3 .sec3cont .left .learnmore b {
  color: white;
}
.home .homecont .sec3 .sec3cont .right {
  position: absolute;
  top: 25%;
  right: -14%;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
}
.home .homecont .sec3 .sec3cont .right .img {
  height: 100%;
  width: 75%;
  position: relative;
}
.home .homecont .sec3 .sec3cont .right .img video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .homecont .sec3 .sec3cont .right .leftcont {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: radial-gradient(rgba(252, 102, 1, 0.6), rgba(39, 0, 93, 0.9));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  grid-gap: 0.5rem;
  font-size: 1.5rem !important;
}
.home .homecont .sec3 .sec3cont .right .leftcont .col {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 20px;
  display: flex;
  color: rgb(39, 0, 93);
  flex-direction: column;
  justify-content: center;
}
.home .homecont .testimonies {
  margin-top: 7rem;
}
.home .homecont .testimonies .text-light {
  background-color: white;
  border-radius: 20px;
  color: black !important;
  border: 1px solid gray;
}
.home .homecont .testimonies .testimonial-head {
  display: flex;
  align-items: end;
}
.home .homecont .testimonies .testimonial-head h3 {
  color: #27005d;
}
.home .homecont .testimonies .testimonial-head .img {
  width: 100px;
  height: 100px;
  margin-right: 0.5rem;
  border-radius: 30px;
}
.home .homecont .testimonies .testimonial-head .img img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .events .slider-container li .card {
  position: relative;
}
.home .events .slider-container li .card img {
  border-radius: 20px;
}
.home .events .slider-container li .card .card-body {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}
.home .events .slider-container li .card .card-body a {
  color: black;
  text-decoration: none;
}

.leftloader {
  animation: leftloader 1s ease;
  transition: all 1s ease-in;
}

.rightloader {
  animation: rightloader 1s ease;
  transition: all 1s ease-in;
}

.fading {
  animation: fading 1s ease;
  transition: all 3s ease-in;
}

@media (max-width: 700px) {
  .home .imagebanner {
    padding: initial;
  }
  .home .imagebanner h2 {
    text-align: left !important;
  }
  .home .imagebanner .textbody {
    padding: 0.4rem !important;
  }
  .home .imagebanner .textbody .text {
    width: 100% !important;
  }
  .home .imagebanner .textbody .text h2 b {
    font-size: 1.5rem !important;
  }
  .home .imagebanner .textbody .join {
    width: 100px !important;
  }
  .home .imagebanner .textbody .partner {
    width: 100px !important;
  }
  .home br {
    display: grid !important;
  }
  .home .sec3 {
    margin-bottom: 20rem !important;
  }
  .home .sec3 .sec3cont .right {
    width: 100% !important;
    top: 92% !important;
    right: 0% !important;
    z-index: -1;
    height: 100% !important;
    margin-top: 0.5rem !important;
  }
  .home .sec3 .sec3cont .right .img {
    width: 100% !important;
    height: 100% !important;
  }
  .home .sec3 .sec3cont .right .img video {
    height: 100% !important;
  }
  .home .sec3 .sec3cont .right .textbody {
    width: 100% !important;
    height: 100% !important;
  }
  .home .sec3 .sec3cont .left {
    width: 500px !important;
  }
  .home .sec3 .sec3cont .left .vision {
    width: 100% !important;
  }
  .home .sec3 .sec3cont .left .location {
    width: 100% !important;
  }
  .home .sec3 .sec3cont .left a {
    text-decoration: none;
  }
  .home .sec2 .right {
    height: 100% !important;
  }
  .home .sec5 .left {
    width: 100% !important;
    height: 300px;
  }
  .home .sec5 .left .video {
    width: 100% !important;
    height: 300px !important;
  }
  .home .sec5 .left .video video {
    width: 100% !important;
    height: 100% !important;
  }
  .home .sec5 .left .leftcont {
    width: 100% !important;
    left: 0 !important;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .home .imagebanner h2 {
    text-align: left !important;
  }
  .home .imagebanner .textbody {
    padding: 0.4rem !important;
  }
  .home .imagebanner .textbody .text {
    width: 100% !important;
  }
  .home .imagebanner .textbody .text h2 b {
    font-size: 1.5rem !important;
  }
  .home .imagebanner .textbody .join {
    width: 100px !important;
  }
  .home .imagebanner .textbody .partner {
    width: 100px !important;
  }
  .home .sec2 {
    margin-top: 5rem !important;
  }
  .home .sec2 .left .img {
    height: 400px !important;
  }
  .home .sec2 .left .img img {
    height: 100% !important;
  }
  .home .sec2 .right {
    height: 100% !important;
  }
  .home .sec3 {
    margin-top: 7rem !important;
  }
  .home .sec3 .sec3cont .right {
    top: 95% !important;
    z-index: -1;
    right: normal !important;
  }
  .home .sec3 .sec3cont .right .textbody {
    width: 100% !important;
  }
  .home .sec3 .sec3cont .right .img {
    height: 60% !important;
  }
  .home .sec3 .sec3cont .left .learnmore {
    margin-left: 26% !important;
  }
  .home .sec4 {
    margin-top: 7rem !important;
  }
  .home .sec5 .right .learnmore {
    margin-left: 5rem !important;
  }
  .home .sec6 .sec6cont .txtcont {
    width: 100% !important;
    padding: 0.5rem;
  }
}
@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: #fc6601;
  }
  100% {
    color: orangered;
  }
}
@keyframes leftloader {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes rightloader {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.about {
  position: relative;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.about .left .leftcont .about-header .image {
  width: 100%;
}
.about .left .leftcont .about-header .image img {
  padding: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
          mask-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.about .left .leftcont .about-header .bannerlogo {
  height: 100%;
}
.about .sec {
  margin: 7rem auto;
}
.about .sec ul {
  list-style: square;
}
.about .department {
  overflow: hidden !important;
}
.about .department .department-sect .slider-container li {
  border-radius: 20px;
}
.about .department .department-sect .slider-container li .card {
  position: relative;
  border-radius: 20px;
}
.about .department .department-sect .slider-container li .card img {
  border-radius: 20px;
}
.about .department .department-sect .slider-container li .card .card-body {
  position: absolute;
  bottom: 0;
  background-color: rgba(225, 225, 225, 0.8);
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .about .right .sec .secont .textcont {
    width: 100% !important;
  }
}
.sec4 {
  margin-top: 7rem;
  text-align: center;
}
.sec4 h3 {
  color: #832aff;
}
.sec4 button {
  background-color: transparent;
  border: 0;
  color: white;
}
.sec4 button:hover {
  background-color: transparent;
  color: black;
  border: none;
}
.sec4 .sec4cont {
  grid-gap: 1rem;
}
.sec4 .sec4cont .subsec {
  padding: 0.5rem;
  background-color: white;
  height: 300px;
}
.sec4 .sec4cont .subsec .subsecont {
  padding: 0.5rem;
  height: 100%;
  color: rgb(59, 50, 50);
  background: linear-gradient(to bottom, white, rgb(39, 0, 93));
  border-radius: 20px;
}
.sec4 .sec4cont .subsec .subsecont :nth-child(4) {
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  transition: all 0.4s;
  border: none;
}
.sec4 .sec4cont .subsec .subsecont .iconcont {
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
  margin: auto;
  padding: 0.5rem;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.4rem;
  box-shadow: 0px 5px 5px black;
}
.sec4 .sec4cont .subsec .subsecont .iconcont .icon {
  font-size: 1.5rem;
  color: white;
}

.donate .sec1 {
  margin: auto;
}
.donate .sec1 .sec1cont {
  position: relative;
  color: white;
}
.donate .sec1 .sec1cont .imgbanner {
  width: 100%;
  height: 300px;
}
.donate .sec1 .sec1cont .imgbanner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.donate .sec1 .sec1cont .overlay {
  position: absolute;
  top: 0;
  background-color: rgba(39, 0, 93, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.donate .sec2 {
  margin-top: 6rem;
  background: linear-gradient(to left, #fc6601, rgb(39, 0, 93));
  border-radius: 20px;
  padding: 3rem;
  color: white;
  font-size: 1.3rem;
}
.donate .sec2 h2 {
  color: whitesmoke;
}
.donate .sec2 .account {
  border: 2px solid white;
  padding: 1rem;
  border-radius: 20px;
  width: 60%;
  margin: auto;
}
.donate .sec2 .account .acc {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .donate .sec1 .imgbanner img {
    height: 100% !important;
  }
  .donate .sec2 .account {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .donate .sec2 {
    padding: 1rem;
  }
  .donate .sec2 .account {
    width: 100%;
  }
}
.sec6 {
  position: relative;
  margin: 6rem auto;
  width: 100%;
  background-color: rgba(39, 0, 93, 0.7);
  border-radius: 20px;
}
.sec6 .img {
  width: 100%;
  left: 0;
  mix-blend-mode: overlay;
  border-radius: 20px;
}
.sec6 .img img {
  width: 100%;
  height: 500px;
  -o-object-fit: fill;
     object-fit: fill;
}
.sec6 .sec6cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.sec6 .sec6cont .textbody {
  text-align: left !important;
  color: white !important;
  background-color: rgba(39, 0, 93, 0.8);
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.sec6 .sec6cont .textbody .txtcont {
  width: 80%;
}
.sec6 .sec6cont .textbody .txtcont h3 {
  text-align: left;
}
.sec6 .sec6cont .textbody .txtcont .join-us {
  color: #fc6601;
  font-size: 1.1rem;
}
.sec6 .sec6cont .textbody .txtcont .sub-heading {
  font-size: 1.6rem;
}
.sec6 .sec6cont .textbody .txtcont .joinusbtn {
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
  padding: 0.2rem 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 10px;
  transition: all 0.4s;
}
.sec6 .sec6cont .textbody .txtcont .joinusbtn:hover {
  background-color: white;
  border: 1px solid #fc6601;
}
.sec6 .sec6cont .textbody .txtcont .joinusbtn:hover b {
  color: black;
}
.sec6 .sec6cont .textbody .txtcont .joinusbtn b {
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  .sec6 .sec6cont .textbody .txtcont {
    width: 100% !important;
    padding: 2rem;
  }
}
.sermon-sec1 {
  margin-top: 7rem;
}
.sermon-sec1 .carousel {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.6rem;
}
.sermon-sec1 .carousel a {
  text-decoration: none;
}
.sermon-sec1 .carousel .left {
  width: 45%;
}
.sermon-sec1 .carousel .left p {
  font-family: Play;
  font-size: 1.2rem;
}
.sermon-sec1 .carousel .right {
  width: 50%;
  background-color: #fc650a;
  height: 40%;
}
.sermon-sec1 .carousel .right .rightcont {
  top: 50px;
  background-color: transparent;
}
.sermon-sec1 .carousel .right .rightcont li .card-body {
  display: flex;
  grid-gap: 0.3rem;
  flex-wrap: wrap;
}
.sermon-sec1 .carousel .right .rightcont li .icon {
  padding: 1rem;
  border: 1px solid gray;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: -moz-fit-content;
  width: fit-content;
}
.sermon-sec1 .carousel .right .rightcont li .icon .i {
  font-size: 30px;
}

@media (max-width: 700px) {
  .sermon-sec1 .carousel .left {
    width: 100% !important;
  }
  .sermon-sec1 .carousel .right {
    width: 100% !important;
  }
}
.register form {
  width: 40%;
  margin: auto;
  padding: 2rem;
  display: grid;
  grid-row-gap: 1rem;
  border-radius: 20px;
  border: 1px solid rgb(39, 0, 93);
}
.register form .cont {
  display: grid;
  grid-row-gap: 0.3rem;
}
.register form .cont label {
  font-size: 1.2rem;
  font-weight: 600;
}
.register form .cont input {
  border-radius: 5px;
  padding: 0rem 0.4rem;
}
.register form .cont input::-moz-placeholder {
  border: 0;
}
.register form .cont input::placeholder {
  border: 0;
}
.register form .submit {
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
  padding: 0.2rem 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  color: white;
  font-size: 1.2rem;
}
.register form .submit:hover {
  background: linear-gradient(to right, #fc6601, rgb(110, 8, 253));
  color: white;
}
.register form .submit:hover b {
  color: white;
}
.register .google {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .google .img {
  width: 30px !important;
  margin-right: 0.3rem;
}
.register .google .img img {
  width: 100%;
}

@media (max-width: 700px) {
  .register form {
    width: 60%;
  }
}
@media (max-width: 500px) {
  .register form {
    width: 100%;
  }
}
* {
  margin: 0;
  font-family: Poppins;
}

body {
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
  background-color: whitesmoke;
}
body::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
}

.App {
  overflow: hidden !important;
  position: relative;
}
.App::-webkit-scrollbar {
  visibility: hidden !important;
  display: none !important;
  width: 0px !important;
}

.header {
  position: sticky !important;
  top: 0;
  display: flex;
  align-items: baseline;
  background: rgb(39, 0, 93);
  z-index: 2;
  padding: 0.5rem 1rem;
}
.header .left {
  flex: 1;
}
.header .left img {
  width: 150px;
  height: 100px;
  -o-object-fit: fill;
     object-fit: fill;
}
.header .overlayheader {
  flex: 2;
}
.header .overlayheader .right {
  width: 100%;
}
.header .overlayheader .right ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: #7697fe;
}
.header .overlayheader .right ul a {
  text-decoration: none;
}
.header .overlayheader .right ul li {
  transition: all 200ms ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}
.header .overlayheader .right ul li:hover {
  background-color: white;
  color: #fc6601 !important;
  padding: 0rem 0.4rem;
  border-radius: 0.3rem;
}
.header .overlayheader .right ul li:hover span {
  color: #fc6601;
}
.header .overlayheader .right ul li .icon {
  color: #fc6601;
  display: none;
}
.header .overlayheader .right ul li span {
  color: white;
}
.header .overlayheader .right ul .part {
  background: linear-gradient(to right, #fc6601, rgb(39, 0, 93));
  padding: 0rem 0.4rem;
  width: 100px;
  font-weight: 600;
  border-radius: 10px;
}
.header .overlayheader .right ul .part:hover span {
  color: black !important;
}
.header .overlayheader .right .existmenu {
  display: none;
}
.header .hamburger {
  display: none;
}

.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.scroll-up a {
  text-decoration: none;
}
.scroll-up a:hover {
  background-color: rgb(0, 0, 0);
}
.scroll-up a:hover .i {
  color: white;
}
.scroll-up a .i {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  bottom: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.footer {
  background: rgb(39, 0, 93);
  margin-top: 7rem !important;
}
.footer .footercont {
  padding: 1.5rem;
  color: #bf90ff;
}
.footer .footercont .contact-us-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.footer .footercont .social-cont {
  display: inline-flex;
  justify-content: space-around;
  grid-gap: 0.5rem;
  flex-wrap: wrap;
}
.footer .footercont .social-cont a {
  text-decoration: none;
  color: black;
}
.footer .footercont .footer-services ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  margin-right: 8%;
}
.footer .footercont .footer-services ul li {
  background-color: whitesmoke;
  color: black;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
}
.footer .right-reserve {
  color: #bf90ff;
  text-align: center;
}

@media (max-width: 900px) {
  * {
    font-size: 1rem;
  }
  .header .overlayheader {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(46, 4, 104, 0.5);
    width: 100%;
    height: 100vh !important;
    padding: 0;
    margin: 0;
    transform: translateX(100%);
    transition: all 1s ease 0s;
  }
  .header .overlayheader .right {
    background-color: white;
    width: 70%;
    margin-left: auto;
    height: 100vh;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }
  .header .overlayheader .right ul {
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    height: 100%;
    color: #fc6601 !important;
  }
  .header .overlayheader .right ul li:hover {
    background-color: rgb(39, 0, 93) !important;
    padding: 0.4rem 0.7rem;
    border-radius: 10px;
  }
  .header .overlayheader .right ul li:hover span {
    color: white !important;
  }
  .header .overlayheader .right ul li .icon {
    display: flex;
  }
  .header .overlayheader .right ul .part span {
    color: white !important;
  }
  .header .overlayheader .right ul span {
    color: rgb(39, 0, 93) !important;
  }
  .header .overlayheader .right .existmenu {
    position: absolute;
    top: 0;
    display: flex;
    background: url("./image1 (1).jpg");
    background-position: center;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 25px;
    border: none;
  }
  .header .overlayheader .right .existmenu .overlay {
    position: absolute;
    top: 0;
    display: flex;
    background-color: rgba(39, 0, 93, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    font-size: 1.5rem !important;
  }
  .header .overlayheader.show {
    transform: translateX(0%);
  }
  .hamburger {
    display: block !important;
    background-color: transparent;
    border: none;
    color: white;
    width: 50px;
  }
  .hamburger:hover {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    border: none;
    padding: 0 0.6rem !important;
    box-sizing: border-box !important;
    color: #011d74;
  }
}/*# sourceMappingURL=index.css.map */