@import "./components/scss/_home";
@import "./components/scss/_about";
@import "./components/scss/_partner";


*{
    margin: 0;
    font-family: Poppins;
}
body{
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
    background-color:white;
}

//#137dc5
.header{
    display: flex;
    align-items: baseline;
    background:linear-gradient(to bottom,rgb(39, 0, 93),rgba(39,0,93,.6));
    position: sticky;
    top: 0;
    z-index: 2;
    padding: .5rem 1rem;
    .left{
        flex: 1;
        img{
            width: 150px;
            height: 100px;
            object-fit: fill;
        }
    }
    .overlayheader{
        flex: 2;
        .right{
            width: 100%;
            ul{
                flex: 2;
                display: flex;
                justify-content: space-around;
                list-style: none;
                color: lighten($color: #011d74, $amount: 50);
                li{
                    transition: all 200ms ease-in;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    &:hover{
                        background-color: white;
                        color: #fc6601 !important;
                        padding: 0rem .4rem;
                        border-radius: .3rem;
                        //box-sizing: border-box !important;
                        a{
                            color: #fc6601;
                        }
                    }
                    .icon{
                        //color: lighten($color: rgb(107, 7, 87), $amount: 30);
                        color: #fc6601;
                        display: none;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
                .part{
                    background:linear-gradient(to right,#fc6601,rgb(39,0,93));
                    padding: .4rem;
                    width: 100px;
                    font-weight: 600;
                    border-radius: 10px;
                    &:hover{
                        color: black !important;
                    }
                    .icon{
                        color: white;
                    }
                    
                }
            }
            .existmenu{
                display: none;
            }
        }
    }
    .hamburger{
        display: none;
     }
}

.footer{
    border-top: 1px solid gray;
    background:linear-gradient(to bottom,whitesmoke,rgb(39,0,93));
    .footercont{
        padding: 1rem;
        .contact-us-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
       }
       .social-cont{
        display: inline-flex;
        justify-content: space-around;
        grid-gap: .5rem;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            color: black;
        }
       }
    }
    .right-reserve{
     text-align: center;
    }
}


@media (max-width:700px) {
    *{
        font-size: 1rem;
    }
    .header{
        .overlayheader{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(46, 4, 104, 0.3);
            width: 100%;
            height: 100vh;
            padding: 0;
            margin: 0;
            transform: translateX(100%);
            transition: all 1s ease 0s;
            .right{
                background:linear-gradient(-400deg,whitesmoke,rgb(39,0,93));
                //background-color: rgb(39, 0, 93);
                width: 70%;
                margin-left: auto;
                height: 100vh;
                position: relative;
                display: grid;
                justify-content: space-around;
                align-items: center;
                ul{
                    display: grid !important;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: auto;
                    height: 100vh;
                    color: #fc6601 !important;
                    li{
                        .icon{
                            display: flex;
                        }
                    }
                }
                .existmenu{
                    position: absolute;
                    top: 0;
                    display: flex;
                    background: url("./image1\ \(1\).jpg") ;
                    background-position: center;
                    width: 100%;
                    height: 100px;
                    color: white;
                    font-size: 25px;
                    border: none;
                }
            }
        }
        .overlayheader.show{
            transform: translateX(0%);
        }
        .hamburger{
            display:block !important;
            background-color: transparent;
            border: none;
            color: white;//lighten($color: rgb(107, 7, 87), $amount: 60);
            width: 50px;
            &:hover{
                border: 1px solid white;
                border-radius: 10px;
                background-color: white;
                border: none;
                //padding: 0 .6rem !important;
                box-sizing: border-box !important;
                color: #011d74;
            }
        }
    }
}